.navbar {
  background-color: black;
}

.navbar a {
  color: white;
}

.navbar a:hover {
  color: orange;
}


/* Full-screen video background container */
.video-bg {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* Video settings */
.video-bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* Overlay for content */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black (0, 0, 0);
  /* Semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Text on top of the background */
.overlay h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black (0, 0, 0);
}